

.swiper {
  width: 100%;
  height: 100%;
}

.swiperSlide {
height:35vh ;
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.img {
  background-size: cover;
  width: 100%;
  height: 100%;
}

.title {
  z-index: 99;
  background-color: rgba(132, 103, 118, 0.75);
  border-radius: 15px;
  color:rgb(11, 215, 241);
}

.audioBar{
  width: 100%;
  margin-top: 25px;
  
}

.pTitle {
 text-align: right;
 margin-right: 25px ;
}


.test {
  pointer-events: none;
}